@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

html,
body {
  scroll-behavior: smooth; /* or smooth if you want */
  overflow-x: hidden;
}

* {
  font-family: "Outfit", sans-serif;
}

.text-primary {
  color: #364152;
}

.text-secondary {
  color: #fdb81d;
}

.bg-secondary {
  background-color: #fdb81d;
}

/* html {
  scroll-behavior: smooth;
} */
