@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

html,
body {
  scroll-behavior: smooth; /* or smooth if you want */
  overflow-x: hidden;
}

* {
  font-family: "Outfit", sans-serif;
}

.text-brand {
  color: #364152;
}

.text-accent {
  color: #feca65;
}

.text-accent-strong {
  color: #fdb81d;
}

.bg-accent {
  background-color: #fdb81d;
}

.bg-accent:hover {
  background-color: #e5a938;
}
